@font-face {
	font-family: Solid-Grooves;
	src: url("solid-Grooves.otf") format("opentype");
}

body{
	background:black;
	color:white;
}

/*header*/
.tinted-image {
	margin-left:50px;
	margin-top:-20px;
	width: 97%;
	height: 200px;

	background: 
	/* top, transparent  */ 
	linear-gradient(
		rgba(0, 255, 102, .5), 
		rgba(1, 2, 12, 1)
		),
	/* bottom, image */
	url(../images/legends.jpg);
}

.head {
	margin-left:-100px;
}

.page-header{
	margin-top:0px;
}
h1{
	font-family:"Solid-Grooves";
	color: #0b8bb8;
	text-align:center;
	margin-bottom:0px;
	font-size:50px;
}

h2{
	font-family:"Solid-Grooves";
	color: #0b8bb8;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
	font-size:30px;
}
/*main*/
#currentWord{
	letter-spacing:15px;
}
.text{
	border-left:2px dashed;
	margin-top:10px;
	font-size:16px;
	font-family: 'Julius Sans One', sans-serif;
}

#winner{
	opacity:.6;
	margin-left:20px;
	margin-top:30px;
	display:none;
	width:400px;
	height:300px;
}